@font-face {
  font-family: "iconfont"; /* Project id 3291410 */
  src: url('iconfont.woff2?t=1648657925590') format('woff2'),
       url('iconfont.woff?t=1648657925590') format('woff'),
       url('iconfont.ttf?t=1648657925590') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-guanyuwomen:before {
  content: "\e601";
}

.icon-jihua:before {
  content: "\e643";
}

.icon-xiansuojilu:before {
  content: "\e67d";
}

